@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
/* .input-grp{
        top: 180px;
        position: absolute;
        width: 280px;
        transition: .5s;
    } */

.options-box {
  width: 220px;
  position: relative;
  margin: 20px auto;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggler {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  outline: no;
  position: relative;
  border-bottom: 1.25px solid #000;
  border-radius: 1px;
}

.toggler1 {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border-bottom: 3px solid #000;
  outline: no;
  position: relative;
}

.toggler2 {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  outline: no;
  position: relative;
}

#toggle-box {
  top: 0;
  left: 0;
  position: absolute;
  width: 110;
  height: 100%;
  border-radius: 30px;
  transition: 5s;
}

.underline {
  border-bottom: 3px solid #000;
}

.input-field {
  /* width: 100%;
  padding: 7px 0;
  margin: 0px 0; */
  top: 255px;
  left: 122px;
  gap: 23.1px;
  background: transparent;
  outline-style: inset;
  box-shadow: 0 0 2px 4px #ff61241f;
  /* caret-color: #fcb036; */
  font-weight: bold !important;
}

.input-field:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #ffcf81;
  font-weight: bold;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(249, 210, 151);
}

.input-field::placeholder {
  /* color: bl; */
  font-weight: bold;
}

.input-field:hover {
  width: 100%;
  padding: 7px 0;
  margin: 0px 0;
  outline: solid #fcb036;
  cursor: pointer;
  background: transparent;
  outline-style: outset;
  font-weight: bold;
  /* color: #fcb036; */
  /* background-color: rgb(249, 247, 244); */
}

.input-btn {
  width: 55%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #fcb036, #fcb036);
  border: 0;
  outline: none;
  border-radius: 20px;
  color: white;
}

.khajaset {
  position: absolute;
  /* height: 350px;
  width: 350px;
  display: block;
  top: 100px;
  right: 350px; */
  width: 335px;
  height: 339px;
  top: 125px;
  left: 562px;
  z-index: -1;
}

.khajabg {
  position: absolute;
  /* display: block;
  width: 50%;
  height: 100%; */
  width: 619px;
  height: 667px;
  top: 3px;
  left: 419px;
  z-index: -2;
}

.form-div {
  z-index: 1;
}

.form-text {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.form-text1 {
  /* font-family: "Poppins", sans-serif; */
  font-weight: 100;
  font-size: small;
  text-align: center;
}

.title {
  font-weight: bolder;
  font-size: 55px;
  margin-top: 18px;
}

.logo1 {
  margin: 0px;
  padding-bottom: 35px;
}

@media (width>300px) and (width<431px) {
  a:hover {
    color: #6f4f03;
  }
  .logo1 {
    padding-bottom: 50px;
    margin: auto;
  }
  .logo-box{
    display: block;
  }
  /* .bg_image {
    background-image: url('../../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
  } */
  .form-text {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }

  .logins {
    width: 100%;
    z-index: 0;
  }

  .background_image {
    display: none;
  }

  .input-field {
    gap: 23.1px;
    background: transparent;
    outline-style: inset;
    box-shadow: 0 0 2px 4px #ff61241f;
    caret-color: #fcb036;
  }

  .khajaset {
    display: none;
  }

  .khajabg {
    display: none;
  }
}
@media (width>432px) and (width<769px) {
  a:hover {
    color: #6f4f03;
  }
  /* .bg_image {
    background-image: url('../../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vh;
  } */
  .form-text {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }

  .logins {
    width: 100%;
    z-index: 0;
  }

  .background_image {
    display: none;
  }

  .input-field {
    gap: 23.1px;
    background: transparent;
    outline-style: inset;
    box-shadow: 0 0 2px 4px #ff61241f;
    caret-color: #fcb036;
  }

  .khajaset {
    display: none;
  }

  .khajabg {
    display: none;
  }
}