.submit-btn {
    background-color: orange;
    border: none;
    width: 100%;
  }
  .submit-btn:hover {
    background-color: rgb(255, 176, 28);
    color: white;
  }

.Froget-Container{
    align-items: center;
    height: 100vh;
}  