.Details-container {
  width: 100vw;
  max-width: 85%;
  margin: 0 auto;
}

.details-title {
  padding-top: 45px;
  font-weight: 700;
  display: flex;
  align-items: center;
}



.details-info {
  padding-left: 1rem;
  padding-right: 1rem;
}

.details-category {
  color: orange;
}

.Details-container h3 {
  font-weight: 500;
  padding-top: 20px;
}

.youmaylike {
  margin: 50px 0 20px 80px;
  font-weight: 500;
}

.ingredients-list{
 background-color: transparent;
}