.Details-container{
    width: 100vw;
    max-width: 90%;
    margin: 0 auto;
}

.details-title{
    width: 100vw;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 45px;
    font-weight: 700;
}

/* .details-img{
    
} */

.details-info{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    
}

.details-category{
    color: orange;
}


.details-info h3{
    font-weight: 500;
    padding-top: 10px;
}

.youmaylike{
    margin: 50px 0 20px 80px;
    font-weight: 500;
}