body {
  background-color: #f0f0f0;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.card {
  width: 245px;
  height: 350px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 16px;
}

.card-content h4 {
  font-size: 1rem;
  margin-bottom: 5px;
  padding-left: 2px;
}

.card-content h3 {
  font-size: 1.125rem;
  max-height: 3em;
  margin-bottom: 8px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-content h3:hover {
  max-height: none; /* Display full content when hovered */
  text-overflow: clip; /* Remove the ellipsis effect on hover */
  white-space: normal; /* Allow the text to wrap on hover */
}

.time h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: rgb(255, 166, 0);
  font-weight: normal;
}
.card-icon {
  display: flex;
  align-items: center;
}
.card-icon img {
  width: 1.5rem;
  margin-left: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating h3 {
  font-size: 1.2rem;
  margin-left: 5px;
  color: rgb(83, 83, 83);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating img {
  width: 1.5rem;
  padding-bottom: 16px;
}
