.footer {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.footer-container {
  width: 100%;
  height: 260px;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 3rem;
  padding-bottom: 10px;
  justify-items: center;
}

.img-logo link {
  padding-top: 10px;
}

.img-logo {
  width: 3.5rem;
  margin-top: -20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  padding: 0%;
}

.footer-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212529;
  margin-left: -20px;
}

.footer-col {
  margin-left: 10px;
}

.footer-col p {
  width: 326px;
}

ul {
  padding: 0;
}

li {
  padding-top: 10px;
}

li a {
  color: #333;
}

.footer-col p {
  width: 100%;
  margin-top: 20px;
  text-align: justify;
}

.footer-col h3 {
  font-size: 1.5rem;
  font-weight: bold;
}


.subscribe form {
  display: flex;
  align-items: center;
}

.subscribe input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.subscribe button {
  background-color: orange; /* Theme color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-last {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #000000;
  height: 100px;
}

.footer-last p {
  margin-bottom: 10px;
}

.footer-last a {
  color: #333;
  margin-right: 10px;
}

@media (max-width:1280px){
  .subscribe form {
    align-items: flex-start;
    flex-direction: column;
  }
  .subscribe button {
    width: 201px;
    margin-top: 15px;
  }
}

@media (min-width:479px) and (max-width:768){
  .footer-container {
    display: flex;
    justify-content: space-around;
  }

}

@media (max-width:480px){
  .subscribe form {
    align-items: flex-start;
    flex-direction: column;
  }
  .subscribe button {
    width: 201px;
    margin-top: 15px;
  }
  .footer-container{
    display: flex;
    flex-wrap: wrap;
  }
}